PAYMENT_DB_DSN=postgres://postgres:postgres@localhost:5432/payment_db?sslmode=disable
PAYMENT_GRPC_ADDRESS=0.0.0.0
PAYMENT_GRPC_PORT=50051
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
PAYMENT_COMPLETED_QUEUE=payment.completed
