ORDER_DB_DSN=databse_url_here
ORDER_HTTP_PORT=your_http_port_here
ORDER_GRPC_ADDRESS=your_grpc_address_here
ORDER_GRPC_PORT=your_grpc_port_here
PAYMENT_GRPC_ADDRESS=your_grpc_address_here
PAYMENT_GRPC_PORT=your_grpc_port_here
